@font-face {
    font-family: "MyCustomFont";
    src: url("./font/DMSerifDisplay-Italic.ttf") format("ttf"), url("./font/DMSerifDisplay-Regular.ttf") format("ttf"),
        url("./font/AdobeFnt24.lst") format("lst");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-primary: #47c7ef;
    --color-secondary: #f8f5f5;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "MyCustomFont", Arial, sans-serif;
}

/* ====================== common ====================== */
.container {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    background: #2e80ce;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 999px;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.section-desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

/* ====================== header ====================== */
.header {
}

.header__top {
    height: 101px;
    width: 100%;
    background: var(--color-secondary);
    display: flex;
    align-items: center;
}

.header__box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__left {
    display: flex;
    gap: 30px;
}

.header__left-box {
    display: flex;
    width: 129px;
    gap: 8px;
}

.header__left-box img {
    max-height: 20px;
    max-height: 20px;
}

.header__left-boxText p {
    font-size: 1.4rem;
    padding-bottom: 11px;
}

.desc__bold {
    font-weight: 700;
    font-size: 1.6rem;
}

.header__right {
    display: flex;
    gap: 24px;
}

.header__search input {
    width: 370px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid var(--color-primary);
    padding: 0 20px;
}
