@font-face {
    font-family: "MyCustomFont";
    src: url("./font/DMSerifDisplay-Italic.ttf") format("ttf"), url("./font/DMSerifDisplay-Regular.ttf") format("ttf"),
        url("./font/AdobeFnt24.lst") format("lst");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --color-primary: #47c7ef;
    --color-secondary: #f8f5f5;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ====================== common ====================== */
.container {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin: 0 auto;
    user-select: none;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 216px;
    line-height: 60px;
    background: var(--color-primary);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 10px;
    text-align: center;
    outline: none;
    border: 0;
}

.btn:hover {
    opacity: 0.9;
}

.desc {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 400;
}

.heading__title {
    font-size: 4rem;
    line-height: 1.5;
    font-weight: bold;
}

.heading__sub {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

/* ====================== header ====================== */
/* ----------Header top ------------- */
.header {
    overflow: hidden;
}

.header__top {
    height: 101px;
    width: 100%;
    background: var(--color-secondary);
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(208, 208, 208);
}

.header__box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__left {
    display: flex;
    gap: 30px;
}

.header__left-box {
    display: flex;
    gap: 8px;
}

.header__left-box img {
    max-height: 20px;
    max-height: 20px;
}

.header__left-boxText p {
    font-size: 1.4rem;
    padding-bottom: 11px;
}

.desc__bold {
    font-weight: 700;
    font-size: 1.6rem;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__search {
    position: relative;
}

.header__search input {
    width: 370px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid var(--color-primary);
    padding: 0 20px;
    outline: none;
}

.search__box {
    position: absolute;
    background-color: white;
    margin-top: 3px;
    border-radius: 4px;
    z-index: 2;
    display: none;
}

.header__search input:focus + .search__box {
    display: block !important;
}

.search__list {
    margin: 10px 0;
}

.search__item {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 10px;
}

.search__item:hover {
    background: var(--color-secondary);
}

.search__item-img {
}

.search__link {
    font-size: 1.4rem;
    line-height: 1.3;
    color: var(--color-primary);
}

.header__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.header__social-list {
    background: #f1f1f1;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    border-radius: 4px;
}

.header__social-list:hover {
    background: var(--color-primary);
    color: #fff;
}

.header__social-list li {
    color: var(--color-primary);
    color: inherit;
}

/* ----------Header bottom ------------- */
.header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.logo {
    height: 60px;
    object-fit: cover;
}

.nav {
}

.nav__list {
    display: flex;
}

.nav__item {
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
}

.nav__link {
    padding: 8px;
    font-weight: 700;
    font-size: 1.6rem;
    color: #929ba3;
    text-transform: uppercase;
}

.nav__link.active,
.nav__link:hover {
    color: var(--color-primary);
}

.nav__link.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--color-primary);
    top: -37px;
    left: 0;
}

/* ====================== Hero ====================== */
.hero__top {
    width: 100%;
    overflow: hidden;
}

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider__list {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.slider__item {
    position: relative;
    min-width: 100%;
}

.slider__item.active {
    display: block;
}

.slider__img {
    width: 100%;
    display: block;
}

.slider__form {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.slider__box {
}

.slider__desc {
    font-size: 2rem;
    color: var(--color-primary);
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.slider__heading {
    font-size: 10rem;
    width: 700px;
    color: white;
    line-height: 1.1;
    padding-bottom: 50px;
}

.slider__btn-left {
    margin-right: 30px;
}
.slider__btn-left a,
.slider__btn-right a {
    text-transform: uppercase;
    color: white;
}

.slider__step {
    display: flex;
    justify-content: space-between;
}

.slider__step button {
    border: 2px solid var(--color-primary);
    background: transparent;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    color: var(--color-primary);
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.slider__step button:hover {
    background: var(--color-primary);
    color: white;
}

.slider__prev {
    transform: translateX(-100px);
}

.slider__next {
    transform: translateX(100px);
}

.btn__slider {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

/* ====================== Hero bottom====================== */
.hero__bottom {
    height: 98px;
    width: 100%;
    background: #01182e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    line-height: 1.5;
    text-transform: uppercase;
    overflow: hidden;
}

.hero__bottom-info {
    position: relative;
}

.hero__bottom-img {
    position: relative;
}

.hero__bottom-bg {
    position: absolute;
    top: -25px;
    left: 0;
}

.hero__desc-top {
    color: var(--color-primary);
}

/* ====================== feature ====================== */
.feature {
    height: 265px;
    background: var(--color-secondary);
    display: grid;
    align-items: center;
    overflow: hidden;
}

.feature__list {
    display: flex;
    gap: 85px;
}

.feature__item {
    flex: 1;
    position: relative;
    padding: 30px 0;
}

.feature__top {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.4;
    padding-bottom: 10px;
}

.feature__heading {
    z-index: 1;
}

.feature__desc {
    font-size: 1.2rem;
    line-height: 1.3;
}

.feature__item-01::after {
    content: "01";
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10rem;
    color: #e6e6e6;
}

.feature__item-02::after {
    content: "02";
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10rem;
    color: #e6e6e6;
}

.feature__item-03::after {
    content: "03";
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10rem;
    color: #e6e6e6;
}

.feature__item-04::after {
    content: "04";
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10rem;
    color: #e6e6e6;
}

/* ====================== About ====================== */

.about {
    height: 935px;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url("./img/background\ img\ home\ page.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
}

.about__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.about__img {
    width: 275px;
    height: 300px;
    object-fit: cover;
}

.about__left {
    display: flex;
    gap: 30px;
}

.about__image {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about__img_left {
    margin-top: -70px;
}

.about__img_right {
    margin-bottom: -70px;
}

.about__right {
    padding: 36px;
}

.about__title {
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--color-primary);
    text-transform: uppercase;
}

.about__heading {
    font-size: 6rem;
    line-height: 1.4;
    font-weight: bold;
    padding: 20px 0;
}

.about__desc {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 30px 0;
    color: #1b1b1b;
    line-height: 1.4;
}

/* ====================== media ====================== */
.media {
    height: 700px;
    width: 100%;
    background: #01182e;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-image: url("./img/Background\ cideo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.media__box {
    display: flex;
    align-items: center;
}

.media__ctv {
    width: 465px;
    padding-right: 30px;
}

.media__heading {
    font-size: 5.2rem;
    font-weight: bold;
    color: white;
    line-height: 1.2;
}

.media__heading span {
    color: var(--color-primary);
}

.media__heading3 {
    font-size: 4.4rem;
    line-height: 1.4;
    color: white;
}

.media__desc {
    font-size: 1.4rem;
    color: white;
    line-height: 1.8;
    padding-bottom: 20px;
}

.media__desc strong {
    font-weight: bold;
}

.media__desc + .media__desc {
    padding-bottom: 20px;
}

/* ====================== products ====================== */

.products {
    width: 100%;
    overflow: hidden;
}

.products .container {
    position: relative;
}

.products__box {
    padding: 60px 5px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    user-select: none;
}

.products__box .heading__title {
    padding-bottom: 30px;
}

.products__list {
    display: flex;
    gap: 20px;
    transition: transform 1.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    will-change: transform;
    padding: 10px 0;
}

.product__item {
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    padding: 36px 25px 30px;
    position: relative;
}

.product__item:hover .product__link {
    display: block;
}

.product__item:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(71, 199, 239, 0.3);
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(71, 199, 239, 0.7);
}

.product__link {
    position: absolute;
    top: 43%;
    left: 43%;
    z-index: 3;
    border: 2px solid white;
    padding: 15px;
    border-radius: 999px;
    color: white;
    display: none;
    cursor: pointer;
}

.product__image {
    max-width: 225px;
}

.product__title {
    text-align: start;
    padding: 20px 0;
    line-height: 1.3;
    font-size: 1.4rem;
}

.product__price {
    text-align: start;
    font-size: 3.1rem;
    font-weight: bold;
    color: var(--color-primary);
}

.product__price-small {
    font-size: 1.5rem !important;
    margin-top: -10px;
}

.products__slider-btn button {
    width: 70px;
    height: 70px;
    background: var(--color-primary);
    border: 0;
    color: white;
    cursor: pointer;
}

.products__prev {
    position: absolute;
    left: 0;
    top: 50%;
    /* transform: translateY(-50%); */
}

.products__next {
    position: absolute;
    right: 0;
    top: 50%;
    /* transform: translateY(-50%); */
}

.products__slider-btn button:hover {
    opacity: 0.8;
}

.products__prev {
    margin-left: -40px;
}

.products__next {
    margin-right: -40px;
}

/* ====================== services ====================== */
.services {
    background: var(--color-secondary);
    padding: 66px 0;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
    justify-content: center;
    align-items: center;
}

.service__item {
    display: inline-block;
    background: white;
    padding: 55px;
    text-align: center;
}

.service__item.active {
    box-shadow: 3px 3px 10px var(--color-primary);
}

.service__img {
    max-width: 150px;
    height: 102px;
    object-fit: cover;
}

.heading__title-3 {
    font-size: 2.7rem;
    font-weight: bold;
    padding-top: 45px;
}

.service__desc {
    padding-top: 10px;
}

.service__title {
    text-align: center;
    padding-bottom: 30px;
}

/* ====================== services ====================== */
.partners {
    padding: 100px 0;
    text-align: center;
}

.partners .container {
    position: relative;
}

.partner {
    overflow: hidden;
    /* position: relative; */
    width: 100%;
}

.partner__img {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
    object-fit: cover;
    padding-top: 60px;
}

.partner__image {
    height: 60px;
}

.partner__btn {
    position: absolute;
    top: 60%;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.partner__btn button {
    border: 0;
    background-color: transparent;
    color: var(--color-primary);
    cursor: pointer;
    padding: 20px;
    transition: all 0.2s ease-in;
    border-radius: 50%;
}

.partner__btn button:hover {
    background: var(--color-primary);
    color: white;
}

.partner__prev {
    margin-left: -40px;
}

.partner__next {
    margin-right: -40px;
}
